# Gradle
.gradle/
build/
out/

# Minecraft / Fabric generated
run/
logs/
crash-reports/

# Java
*.class
hs_err_pid*
replay_pid*

# IDEs
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Generated jars
*.jar